.App {
  text-align: center;
}

body {
  margin: 0;
  padding: 0;
  background: #833ab4; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #fcb045,
    #fd1d1d,
    #833ab4
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  /* more styles */
}

.profilePic {
  /* display: inline-block; */
  width: 125px;
  height: 200px;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  float: left;
  margin-top: 50px;
  margin-right: 10px;
}

.cardStyles {
  background: transparent;
  border: solid;
  margin: 100px;
  margin-right: 10%;
  box-shadow: 10vh;
  padding-bottom: 10px;
  padding-top: 10px;
}

.particles {
  position: fixed;
  right: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}
